<%- model_class = FuelPrice -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => FuelPrice %></h1>
</div>
<%= render :partial => 'form' %>

